<!doctype html>
<html>
<head>
    <title>Hello World</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./scripts/ext/slickgrid/slick.grid.css">
</head>

<body ng-controller="reportController as reportController">
    <h1>Hello world</h1>

    <ul class="menu horizontal">
        <li class="menu-item">
            <label>Explore</label>

            <ul class="sub-menu">
                <li class="menu-item"
                    ng-repeat="report in reportController.reportTypes"
                    ng-click="reportController.selectReport(report)"
                >
                        <label>{{report.name}}</label>
                </li>
            </ul>
        </li>
    </ul>

    <section class="report" ng-cloak ng-visible="reportController.report">
        <header ng-bind="reportController.report.name"></header>
        <slick-grid
            class="grid"
            columns="reportController.report.columns"
            content="reportController.report.content"
            ></slick-grid>
    </section>

    <script src="./scripts/ext/require-2.3.2.js" data-main="./scripts/require.config.js"></script>

</body>
</html>
